@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,335;1,335&display=swap');

body{
    background-image: url("./Images/pexels-caleb-kwok-1328001-2558460.jpg");
    width: 100%;
}

h1{
    font-size: 70px;
    color: white;
}

h2{
    text-decoration: underline;
    text-underline-position: under;
    margin-top: 0;
    padding-top: 30px;
}

a:hover{
    color: white;
}

.header {
    background-color: rgb(135, 174, 174);
    text-align: center;
    width: 100%;
    height: 100px;
}

.hero-span {
    font-family: 'Kolker Brush'
}

.title {
    font-family: 'Italiana';
}

.hero{
    text-align: center;
}

.three-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.column{
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.WWD{
    text-align: center;
    width: 100%;
    margin: 0 auto 0 auto;
    background-color: rgb(206, 245, 140);
}

.footer{
    background-color: rgb(135, 174, 174);
    width: 100%;
    padding: 10px 0 30px 0;
    position: fixed;
    bottom: 0;
    right: 0;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin: 0 auto 0 auto;
}

.list{
    display:block;
    text-align: left;
}

.layer{
    min-height: 550px;
    width: 1500px;
    margin: 0 auto 0 auto;
}

a{
    text-decoration: none;
    color: black;
}

h5{
    text-decoration: underline;
}

.cta{
    text-align: center;
    line-height: 4;
    background-color: rgb(162, 245, 140);
}

.button{
    line-height: 1;
    text-align: center;
    background-color: rgb(185, 247, 80);
    display: block;
    padding: 15px 5px 15px 5px;
    width: 150px;
    margin: 5px auto 5px auto;
    border-radius: 100px;
    border: rgb(82, 189, 21) solid 2px;
}

.OP{
    text-align: center;
    background-color: rgb(140, 245, 193);
    padding-top: 30px;
}

.header-nav{
    display: inline-block;
    margin: 40px 10px 1000px 10px;
}

.font{
    font-family: 'Josefin Sans';
}